<?xml version="1.0" encoding="UTF-8"?>
<configuration>
        <system.webServer>
			<security>
				<requestFiltering>
					<denyUrlSequences>
						<add sequence=".." />
						<add sequence="inc" />
						<add sequence="crontabs" />
						<!--<add sequence="cache" />-->
						<add sequence="classes" />
					</denyUrlSequences>
					<fileExtensions>
						<add fileExtension=".sql" allowed="false" />
					</fileExtensions>
				</requestFiltering>
			</security>
			
			<directoryBrowse enabled="false" />
			<caching>
				<profiles>
					<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
					<add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="14:00:00:00" />            
				</profiles>     
			</caching>
			
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <tracing>
            <traceFailedRequests>
                <add path="*.php">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" verbosity="Error" />
                </add>
            </traceFailedRequests>
        </tracing>
 		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
			<mimeMap fileExtension=".wgt" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
		</staticContent>
       <rewrite>
            <rules>
                <rule name="rule-100" stopProcessing="true">
                    <match url="^mrfdrs$" />
                    <action type="Rewrite" url="/?app=sysauth_controller_default&amp;act=login" />
                </rule>
                <rule name="rule-101-1" stopProcessing="true">
                    <match url="^contents/([0-9]+)$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=contents&amp;type_id={R:1}" />
                </rule>
                <rule name="rule-101-2" stopProcessing="true">
                    <match url="^content/([0-9]+)$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=cms_detail&amp;id={R:1}" />
                </rule>
                <rule name="rule-102-1" stopProcessing="true">
                    <match url="^contact$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=contact" />
                </rule>
                <rule name="rule-102-2" stopProcessing="true">
                    <match url="^testreq/view$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=testreq" />
                </rule>
                <rule name="rule-102-3" stopProcessing="true">
                    <match url="^testreq/save$" />
                    <action type="Rewrite" url="/?app=api_controller_www&amp;act=testreq_save" />
                </rule>
                <rule name="rule-103-1" stopProcessing="true">
                    <match url="^about/(intro|rules)$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=about_{R:1}" />
                </rule>
                <rule name="rule-103-2" stopProcessing="true">
                    <match url="^member/(org|academic|expert|leader1|leader2|leader3|join|list)$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=member_{R:1}" />
                </rule>
                <rule name="rule-103-3" stopProcessing="true">
                    <match url="^member/([0-9]+)$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=member_detail&amp;id={R:1}" />
                </rule>
                <rule name="rule-103-3-1" stopProcessing="true">
                    <match url="^subject/index$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=subject_index" />
                </rule>
                <rule name="rule-103-3-2" stopProcessing="true">
                    <match url="^subject/([0-9]+)$" />
                    <action type="Rewrite" url="/?app=view_controller_www&amp;act=subject_detail&amp;id={R:1}" />
                </rule>
           </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
