<!DOCTYPE HTML>
<html>
<head>
<title><!--{$site_name}--></title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui">
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta name="keywords" content="研究|金融|课题|项目" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!-- 滚动轮播 -->
<link href="/resource/layui/css/layui.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/resource/layui/layui-2.3.min.js"></script>
<link rel='stylesheet' type='text/css' href='/resource/metinfo6/css/basic.css'>
<link rel="stylesheet" type="text/css" href="/resource/metinfo6/cache/shownews_cn.css"/>
<link href="/resource/css/fdrs.css" rel="stylesheet" media="all" />
<link rel="stylesheet" type="text/css" href="/resource/css/join-us.css">
<style type="text/css">

</style>
<!--[if lte IE 9]>
<script src="/resource/metinfo6/js/lteie9.js"></script>
<![endif]-->
</head>
<!--[if lte IE 8]>
<div class="text-xs-center m-b-0 bg-blue-grey-100 alert">
    你正在使用一个 <strong>过时</strong> 的浏览器。推荐安装Chrome浏览器，以提高您的体验。
</div>
<![endif]-->
<body class="met-navfixed">
<!--{include file = 'head.html'}-->
<div class="subcolumn_nav_met_28_1 met-column-nav">
    <div class="container">
        <div class="row">
            <div class="fdrs-sidebar-tile">
                <span class="layui-breadcrumb">
                  <a href="/">首页</a>
                  <a><cite>会员申请</cite></a>
                </span>
            </div>
        </div>
    </div>
</div>
 <main class="news_list_detail_met_16_1 met-shownews animsition">
	<div class="container">
		<div class="row">
		    <div class="col-md-12 fdrs-card-shadow" m-id='17'>
                <div class="row">
                	<section class="details-title border-bottom1">
						<h1 class='m-t-10 m-b-5'><img src="/images/fdrs/join_us_sign.png" />
                        会员申请</h1>
					</section>
					<section class="met-editor clearfix content_min_h">
						<div class="content-wrap content-wrap-join">
				            <div class="content">
				                <div class="content-join join">
				                    <div class="section-wrap">
				                    	<div class="main-left">
				                            <!-- <div class="join-title">
				                                <div class="join-us-zh">加入我们 <span class="join-us-icon"></span>
				                                </div>
				                                <div class="join-us-en">JOIN US</div>
				                            </div> -->
				                            <div class="join-notice">入会须知：<!--{$site_name}-->是开放式组织，金融届、 企业界、学术界在本领域有一定的影响力的个人或企业等均可申请加入。</div>
				                            <div class="join-notice-split"></div>
				                            <div class="join-notice join-notice-fee">会费标准（元/年）：
				                            <br/><i class="icon pe-angle-right"></i>会员￥5000；
											<br/><i class="icon pe-angle-right"></i>理事￥20000；
											<br/><i class="icon pe-angle-right"></i>副会长￥100000；
											<br/><i class="icon pe-angle-right"></i>常务副会长￥200000。
				                            </div>
				                            <div class="join-btn-box"><a href="#" class="btn">加入本研究会流程 <span class="btn-icon icon-process"></span> </a><a href="/attachement/join_application.pdf" target="_blank" class="btn">点击下载申请表 <span class="btn-icon icon-download"></span></a>
				                            </div>
				                        </div>
				                        <div class="main-right">
				                            <div class="process process-1">
				                                <div class="content">提交入会申请书</div>
				                            </div>
				                            <div class="process process-2">
				                                <div class="content">经理事会讨论通过</div>
				                            </div>
				                            <div class="process process-3">
				                                <div class="content">及时在本会网站、通讯刊物<br/>等予以公告</div>
				                            </div>
				                            <div class="process process-4">
				                                <div class="content">由理事会或理事会<br/>授权的机构<br/>（如常务理事会、秘书处等）<br/>发给会员证</div>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
					</section>
	            </div>
        	</div>
		</div>
    </div>
</main>
<!--{include file = 'foot.html'}-->
<script type="text/javascript">
layui.use(['element'], function(){
  var element = layui.element;
});
</script> 
</body>
</html>