<aside class="sidebar_met_28_1 met-sidebar panel panel-body m-b-0">
	<div class="sidebar-news-list recommend">
		<ul class="sidebar-column list-icons">
			<li>
				<a class="active">研究会成员</a>
			</li>
			<li class="list-group-item">
				<a href="/member/org">组织架构</a>
			</li>
			<li class="list-group-item">
				<a href="/member/academic">学术专家委员会</a>
			</li>
			<li class="list-group-item">
				<a href="/member/expert">顾问专家委员会</a>
			</li>
			<li class="list-group-item">
				<a href="/member/leader1">会长/副会长/秘书长</a>
			</li>
			<li class="list-group-item">
				<a href="/member/leader2">监事会</a>
			</li>
			<li class="list-group-item">
				<a href="/member/leader3">理事会</a>
			</li>
			<li class="list-group-item">
				<a href="/member/list" class="fdrs_no_bottom">会员</a>
			</li>
		</ul>
	</div>
	<!--{include file='contact.html'}-->
	
</aside>