<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title><!--{$site_name}--></title>
<link href="/resource/css/mini-common.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,html{margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;}
.table_default{ margin: 1em auto; }
<!--{if $is_popup != 2}-->
/*.table_default{margin:80px auto!important;}*/
<!--{/if}-->
</style>
<!--{include file='../local_js.html'}-->
<script type="text/javascript" src="/resource/jsencrypt.min.js"></script>        
<script type="text/javascript">
var pub_key = '<!--{$public_key}-->';
var APP = '<!--{$controller}-->';
$(document).ready(function(){ setTimeout(init,0); });
function init()
{
	mini.parse();
	set_required();
}

function set_required()
{
	var ary_data = new mini.Form('frm1').getData();
	for(var k in ary_data)
	{
		mini.get(k).set( {errorMode:'border',required:true} );
	}
}

function save()
{
	var frm1 = new mini.Form('frm1');
	frm1.validate();
	if(!frm1.isValid()){ return; }
	var o = frm1.getData(true);
	if(o.new_userpwd != o.new_userpwd_c)
	{
		mini.showTips({content: '您输入的新密码与确认新密码不一致',state: 'danger',x: 'center',y: 'middle',timeout: 3000});
		return;
	}
	
	var encrypt = new JSEncrypt();
	encrypt.setPublicKey(pub_key);
	o.new_userpwd = encrypt.encrypt(o.new_userpwd);	
	o.new_userpwd_c = encrypt.encrypt(o.new_userpwd_c);	
	o.pre_userpwd = encrypt.encrypt(o.pre_userpwd);	
	
	showloading('正在保存...');
	$.ajax({
		url: '/?app=' + APP + '&act=save_mypwd',
		data: o,
		type: 'post',
		success: function (json){
			successHandler(json,function(){
				if(json.code == 1){
					mini.alert(json.message,'',function(action){ frm1.reset(); });
				}else{ mini.alert(json.message); }
			});
		},
		error: function (jqXHR, textStatus, errorThrown) { error_req(); }
	});
	
	return false;
}
</script>
</head>

<body>
<div class="mini-fit">
    <div id="frm1">
        <table border="0" cellspacing="0" cellpadding="2" class="table_default">
            <tr>
                <td>原密码</td>
                <td><input name="pre_userpwd" id="pre_userpwd" class="mini-password" style="width:100px;" /></td>
            </tr>
            <tr>
                <td>新密码</td>
                <td><input name="new_userpwd" id="new_userpwd" class="mini-password" style="width:100px;" /></td>
            </tr>
            <tr>
                <td>确认新密码</td>
                <td><input name="new_userpwd_c" id="new_userpwd_c" class="mini-password" style="width:100px;" /></td>
            </tr>
        </table>
    </div>
</div>

<div class="mini-toolbar bottom_bar">
    <a class="mini-button" onclick="save">保存修改</a>
</div>
</body>
</html>
