<!DOCTYPE HTML>
<html>
<head>
<title><!--{$site_name}--></title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui">
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta name="keywords" content="研究|金融|课题|项目" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!-- 滚动轮播 -->
<link href="/resource/layui/css/layui.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/resource/layui/layui-2.3.min.js"></script>
<link rel='stylesheet' type='text/css' href='/resource/metinfo6/css/basic.css'>
<link rel="stylesheet" type="text/css" href="/resource/metinfo6/cache/index_cn.css"/>
<link href="/resource/css/fdrs.css" rel="stylesheet" media="all" />
<style type="text/css">

</style>
<!--[if lte IE 9]>
<script src="/resource/metinfo6/js/lteie9.js"></script>
<![endif]-->
</head>
<!--[if lte IE 8]>
<div class="text-xs-center m-b-0 bg-blue-grey-100 alert">
    你正在使用一个 <strong>过时</strong> 的浏览器。推荐安装Chrome浏览器，以提高您的体验。
</div>
<![endif]-->
<body class="met-navfixed">
<!--{include file = 'head.html'}-->
<div class="news_list_met_27_1 met-index-body newsbox     bgpic" m-id='38'>
	<div class="container newsbox" >
		<!--左边新闻(带轮播图)-->
		<div class="row">
		<div class="item  col-xs-12 col-md-8" >
		        <div class="met-index-imgnews">
			        <div class="left-news">
				        <div class="left-img ussv-home-scroll1">
				        	<div class="layui-carousel" id="scroll1">
				  				<div carousel-item>
				        			<!--{foreach from=$photos_focus item=photo}-->
				        			<!--{if $photo.content_id > 0}-->
									<div class="fdrs-detail-link" item-id="<!--{$photo.content_id}-->"><a href="/content/<!--{$photo.content_id}-->"><img src="<!--{$photo.b_path}-->" alt="<!--{$photo.title}-->" /></a></div>
									<!--{elseif $photo.subject_id > 0}-->
									<div class="fdrs-detail-link" item-id="<!--{$photo.subject_id}-->"><a href="/subject/<!--{$photo.subject_id}-->"><img src="<!--{$photo.b_path}-->" alt="<!--{$photo.title}-->" /></a></div>
									<!--{else}-->
									<div><img src="<!--{$photo.b_path}-->" alt="<!--{$photo.title}-->" /></div>
									<!--{/if}-->
									<!--{/foreach}-->
					        	</div>
				        	</div>
				        </div>
				    </div>
			</div>
        </div>
        	<div class="item  col-xs-12 col-md-4">
                <div class="met-index-imgnews">
                	<div class="left-img ussv-home-scroll1">
			        	<div class="layui-carousel" id="scroll2">
			  				<div carousel-item>
			        			<!--{foreach from=$subjects item=subject}-->
								<ul class="right-news news-ul">
				            		<div class="right-img">
			        				<!--{if $subject.photo_path != ''}-->
								        <a href="/subject/<!--{$subject.id}-->">
								        	<img src="<!--{$subject.photo_path}-->">
								        </a>
									<!--{else}-->
										<!--{$subject.detail}-->
									<!--{/if}-->
								    </div>
								    <!--{foreach from=$subject.items item=item}-->
								    <li>
										<a href="/content/<!--{$item.id}-->">
											<i class="icon pe-angle-right"></i>
			                                <!--{$item.topic}-->			
			                            </a>
									</li>
									<!--{/foreach}-->
								</ul>
								<!--{/foreach}-->
				        	</div>
			        	</div>
			        </div>
    	    	</div>
			</div>
	</div>
		</div>
</div>

    <div class="news_list_met_27_2">
	<div class="container newsbox">
		<div class="row">
		<!-- 左边新闻框 -->
		<div class="item  col-xs-12  col-lg-4">
	        <div class="met-index-news">
	            <div class="title clearfix">
		            <h2 class="news-h">金融聚焦</h2>
		            <p class="news-desc">Financial Focus</p>
	            </div>
		        <ul class="news-list fdrs-home-min-h">
		        	<!--{foreach from=$jrjj item=row}-->
	        		<li>
						<a href="/content/<!--{$row.id}-->">
						<span><!--{$row.publishtime}--></span>
						<!--{$row.topic}--></a>
					</li>
		        	<!--{/foreach}-->
		        </ul>
		        <div class="more">
				   <a href="/contents/2">更多</a>
		        </div>
		    </div>
	    </div>
	    <!-- 左边新闻框 -->
	    
	    <!--中间新闻框-->
	    <div class="item  col-xs-12 col-lg-4">
	        <div class="met-index-news">
		        <div class="title clearfix">
		            <h2 class="news-h">研究会动态</h2>
		            <p class="news-desc">FDRS News</p>
		        </div> 
		        <ul class="news-list fdrs-home-min-h">
		        	<!--{foreach from=$yjhdt item=row}-->
	        		<li>
						<a href="/content/<!--{$row.id}-->">
						<span><!--{$row.publishtime}--></span>
						<!--{$row.topic}--></a>
					</li>
		        	<!--{/foreach}-->
		        </ul>
		        <div class="more">
				   <a href="/contents/3">更多</a>
		        </div>
			</div>
	    </div>
	    <!--中间新闻框-->
	    <div class="item  col-xs-12 col-lg-4">
	        <div class="met-index-news">
		        <div class="title clearfix">
		            <h2 class="news-h">会员动态</h2>
		            <p class="news-desc">Member News</p>
		        </div> 
		        <ul class="news-list fdrs-home-min-h">
		        	<!--{foreach from=$hydt item=row}-->
	        		<li>
						<a href="/content/<!--{$row.id}-->">
						<span><!--{$row.publishtime}--></span>
						<!--{$row.topic}--></a>
					</li>
		        	<!--{/foreach}-->
		        </ul>
		        <div class="more">
				   <a href="/contents/4">更多</a>
		        </div>
			</div>
	    </div>
	</div>
	<!--container结束符-->
	</div>

        <div class="news_list_met_27_3">
	<div class="container newsbox">
	<div class="row">
		<!-- 左边新闻框 -->
		<div class="item  col-xs-12  col-lg-4">
	        <div class="met-index-news ">
	            <div class="title clearfix">
		            <h2 class="news-h">政策法规</h2>
		            <p class="news-desc">Policy</p>
	            </div>
		        <ul class="news-list fdrs-home-min-h">
		        	<!--{foreach from=$zcfg item=row}-->
	        		<li>
						<a href="/content/<!--{$row.id}-->">
						<span><!--{$row.publishtime}--></span>
						<!--{$row.topic}--></a>
					</li>
		        	<!--{/foreach}-->
		        </ul>
		        <div class="more">
				   <a href="/contents/5">更多</a>
		        </div>
		    </div>
	    </div>
	    <!-- 左边新闻框 -->
	    
	    <!--中间新闻框-->
	    <div class="item  col-xs-12 col-lg-4">
	        <div class="met-index-news">
		        <div class="title clearfix">
		            <h2 class="news-h">活动公告</h2>
		            <p class="news-desc">Activity</p>
	            </div>
		        <ul class="news-list fdrs-home-min-h">
		        	<!--{foreach from=$hdgg item=row}-->
	        		<li>
						<a href="/content/<!--{$row.id}-->">
						<span><!--{$row.publishtime}--></span>
						<!--{$row.topic}--></a>
					</li>
		        	<!--{/foreach}-->
		        </ul>
		        <div class="more">
				   <a href="/contents/6">更多</a>
		        </div>
		    </div>
	    </div>
	    <!--中间新闻框-->
	    <!--右侧展示区块-->
	    <div class="item col-xs-12 col-lg-4">
			<div class="met-index-product">
				<div class="container">
				    <div class="title clearfix">
				    	<h2 class="news-h">联系我们</h2>
		                <p class="news-desc">Contact</p>
					</div>
					<div class="nav-tabs-vertical fdrs-home-contact">
					    <table cellpadding="0" cellspacing="0" border="0" width="100%">
						    <tr>
						    	<td class="fdrs-home-contact-left">
									<div>电话：020-38626087</div>
									<div>邮件：hello@qq.com</div>
									<div>地址：广东省广州市天河区瘦狗岭路413号A2栋30层</div>
									<!-- <div class="more"><a>扫码关注我们</a></div> -->
						    	</td>
						    	<td class="fdrs-home-qrcode"><img src="/images/gzh.jpg">
						    	<div>扫码关注我们</div></td>
						    </tr>
					    </table>
                    </div>
                </div>
            </div>
		</div>
	    <!--右侧展示区块-->
	    </div>
	</div>
</div>
<!--{include file = 'foot.html'}-->
<script type="text/javascript">
layui.use(['carousel'], function(){
  var carousel = layui.carousel;

  carousel.render({
    elem: '#scroll1'
    ,arrow: 'always' 
    ,indicator:'none'
    ,height:'372px',width:'100%'
    ,interval:3000
    ,anim: 'fade' //切换动画方式
  });

  carousel.render({
    elem: '#scroll2'
    ,arrow: 'hover' 
    ,indicator:'none'
    ,height:'372px',width:'100%'
    ,interval:3000
    ,anim: 'fade' //切换动画方式
  });

});
</script> 
</body>
</html>