
.icons-sprite, .icons-close, .icons-home-home, .icons-home-join, .icons-home-logo, .icons-home-menu, .icons-home-news, .icons-home-search, .icons-icon-pause, .home .container .slidesjs-play, .home .container .slidesjs-stop, .icons-icon-play, .home .container .slidesjs-play, .icons-join-download, .join .section-wrap .main-left .join-btn-box .btn .btn-icon.icon-download, .icons-join-in, .join .section-wrap .main-left .join-btn-box .btn .btn-icon.icon-process, .icons-join-us-icon, .join .section-wrap .main-left .join-title .join-us-icon, .icons-nav-down, .top-nav .top-nav-bottom .bottom-wrap .nav-first .first-cur .nav-down, .icons-next-page, .home .home-page .next-page, .icons-page-up-blue, .web-menu .page1 .page-a, .web-menu.blue .page1 .page-a, .icons-page-up-white, .web-menu.white .page1 .page-a, .icons-sit-more, .icons-up-to-top, .contact .up-to-top {
    background:url("icons-s2ae4e3ee0b.png") no-repeat;
    display:inline-block
}

.icons-join-download, .join .section-wrap .main-left .join-btn-box .btn .btn-icon.icon-download {
    background-position:0 -360px;
    height:23px;
    width:19px
}
.icons-join-in, .join .section-wrap .main-left .join-btn-box .btn .btn-icon.icon-process {
    background-position:0 -403px;
    height:18px;
    width:17px
}
.icons-join-us-icon, .join .section-wrap .main-left .join-title .join-us-icon {
    background-position:0 0;
    height:106px;
    width:120px
}


.color-ccc {
    color:#ccc !important
}
.color-999 {
    color:#999 !important
}
.color-666 {
    color:#666 !important
}
.color-333 {
    color:#333 !important
}
.color-fff {
    color:#fff !important
}
.color-ddd {
    color:#ddd !important
}
.color-step {
    color:#b8e6d0 !important
}
.color-normal {
    color:#f29360 !important
}
.color-link {
    color:#22a4ff !important
}
.color-alert {
    color:#ff9191 !important
}
.color-theme {
    color:#004398
}
.text-center {
    text-align:center !important
}
.text-right {
    text-align:right
}
.text-left {
    text-align:left
}
.bg-fff {
    background-color:#ffffff
}
.word-break {
    word-break:break-all;
    word-wrap:break-word;
    white-space:normal
}
.float-right {
    float:right
}
.el-left {
    display:inline-block;
    position:absolute;
    top:50%;
    -webkit-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);
    transform:translate(0, -50%);
    left:.1rem
}
.el-right-22 {
    display:inline-block;
    position:absolute;
    top:50%;
    -webkit-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);
    transform:translate(0, -50%);
    right:.22rem
}
.clear-fix {
    *zoom:1
}
.clear-fix:before, .clear-fix:after {
    display:table;
    content:"";
    line-height:0
}
.clear-fix:after {
    clear:both
}

.section {
    overflow:hidden
}
.section .section-wrap {
    margin-top:35px;
    width:1080px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
.section .section-wrap .section-title, .section .section-wrap .section-title-en {
    font-size:66px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    line-height:1
}
.section .section-wrap .section-title-en {
    font-size:20px;
    font-weight:normal;
    margin-top:15px
}

.join {
    background-color:#eeeeef
}
.join .section-wrap {
    height:590px
}
.join .section-wrap .main-left {
    width:480px;
    height:100%;
    float:left;
    padding-right:90px
}
.join .section-wrap .main-left .join-title {
    width:100%;
    font-size:66px;
    font-weight:bold;
    color:#33378c;
    line-height:1;
    border-bottom:1px solid #e0e1e1;
    margin-top:45px
}
.join .section-wrap .main-left .join-title .join-us-icon {
    display:inline-block;
    margin-left:-20px;
    vertical-align:top;
    margin-top:-24px
}
.join .section-wrap .main-left .join-title .join-us-en {
    font-size:92px;
    font-family:Arial;
    margin-bottom:35px
}
.join .section-wrap .main-left .join-notice {
    font-size:22px;
    color:#232323;
    line-height:45px;
    margin:36px 0 20px
}
.join .section-wrap .main-left .join-notice-fee{
    font-size:18px!important;
    line-height: 30px!important;
}
.join .section-wrap .main-left .join-notice-split{
    border-top:1px solid #e0e1e1;
    font-size: 0px; height: 1px; line-height: 1px;
}
.join .section-wrap .main-left .join-btn-box {
    width:100%;
    position:relative
}
.join .section-wrap .main-left .join-btn-box .btn {
    display:inline-block;
    width:210px;
    height:50px;
    background-color:#ee1c27;
    color:#fff;
    line-height:50px;
    font-size:18px;
    text-align:center;
    margin-bottom:20px
}
.join .section-wrap .main-left .join-btn-box .btn .btn-icon {
    display:inline-block;
    width:20px;
    height:22px;
    vertical-align:middle;
    margin-top:-2px
}
.join .section-wrap .main-right {
    width:600px;
    height:100%;
    margin:0 auto;
     float:left 
}
.join .section-wrap .main-right .process {
    width:50%;
    height:50%;
    float:left;
    background-color:#fff;
    position:relative;
    font-size:18px;
    color:#000;
    text-align:center;
    line-height:34px;
    z-index:10
}
.join .section-wrap .main-right .process .content {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto
}
.join .section-wrap .main-right .process.process-1 {
    color:#fff;
    background-color:#33378c
}

.join .section-wrap .main-right .process.process-1 .content,
.join .section-wrap .main-right .process.process-2 .content {
    height:42px;
}
.join .section-wrap .main-right .process.process-2:after {
    content:"";
    border-left:20px solid #33378c;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    position:absolute;
    top:50%;
    left:0;
    margin-top:-15px;
    z-index:100
}
.join .section-wrap .main-right .process.process-2,
.join .section-wrap .main-right .process.process-3 {
    background-color:#f3f3f3
}
.join .section-wrap .main-right .process.process-3 .content {
    height:72px;
}
.join .section-wrap .main-right .process.process-3:after {
    content:"";
    border-right:20px solid #33378c;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    position:absolute;
    top:50%;
    right:0;
    margin-top:-15px;
    z-index:100
}
.join .section-wrap .main-right .process.process-4 {
    color:#fff;
    background-color:#33378c
}
.join .section-wrap .main-right .process.process-4 .content {
    height:152px
}
.join .section-wrap .main-right .process.process-4:after {
    content:"";
    border-top:20px solid #fff;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-15px;
    z-index:100
}

.content-wrap {
    background-color:#f0f0f0;
    width:100%;
    min-height:100%;
}
.content-wrap .content {
    width:100%;
    height:auto;
    overflow:hidden
}
.content-wrap .content .contact {
    position:relative
}
.content-wrap .content .contact .section-wrap {
    width:1080px;
    margin:0 auto
}

.content-wrap-join {
    background:url("join-page-bg.png") repeat
}
.content-join {
    /* padding:120px 0; */
    background:transparent
}
.content-join .section-wrap {
     width:1080px; 
    margin:0 auto
}
